<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- CreateLogfile -->
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>false</append>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>log/%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-3level %logger{35} -
				%msg %n</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<logger name="com.example.uploadTest" level="INFO"
		additivity="FALSE">
		<appender-ref ref="FILE" />
	</logger>
	<logger name="java.sql" level="ERROR"
		additivity="FALSE">
		<appender-ref ref="FILE" />
	</logger>
	<logger name="jdbc.sqlonly" level="INFO" additivity="FALSE">
		<appender-ref ref="FILE" />
	</logger>
	<logger name="jdbc.sqltiming" level="INFO" additivity="FALSE">
		<appender-ref ref="FILE" />
	</logger>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
